.service-item-top img {
  transition: 0.5s;
}

.service-item-top:hover img {
  transform: scale(1.1);
}

.service-carousel .owl-dots {
  margin-top: 24px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.service-carousel .owl-dot {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  width: 15px;
  height: 15px;
  background: var(--primary);
  border: 5px solid var(--light);
  transition: 0.5s;
}

.service-carousel .owl-dot.active {
  background: var(--light);
  border-color: var(--primary);
}
